@charset 'utf-8';


@import "partials/settings";
@import "../../node_modules/foundation-sites/scss/foundation";

@include foundation-everything;
@include foundation-flex-classes;
@include foundation-flex-grid; 


@import "partials/myfont.css";
@import "partials/swiper.min.css";
@import "partials/variables";
@import "partials/common";
@import "partials/mixin";
@import "partials/first-screen";
@import "partials/services-screen";
@import "partials/second-screen";
@import "partials/main-footer";
@import "partials/phone-button";
@import "partials/contact-screen";
@import "partials/animate";
@import "partials/gototop";


