@mixin menu-activ-point {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background: #731982;
  border-radius: 50%;
}

@mixin button($max-width) {
  max-width: $max-width;
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  background-color: $third-color;
  font: 500 16px/1.15 $main-font-family;
  color: $white-color;
  border-radius: 4px;
  text-align: center;
}

@mixin button-2 {
  @include flex-center;
			width: 168px;
			height: 40px;
			border: 1px solid $third-color;
			border-radius: 40px;
			color: $third-color;
			font-weight: 500;
			line-height: 1.15;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}



@mixin m-button($bg-color, $hover-bg) {
  height: 60px;
  padding: 12px 35px;
  font-weight: 500;
  font-family: $main-font-family;
  font-size: 18px;
  color: $black-color;
  text-align: center;
  background-color: $bg-color;
  line-height: 1.8;
  letter-spacing: 1px;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:hover{
     background-color: $hover-bg;
     color: $white-color;
  }
}


@mixin bg-settings {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
@mixin max-1023 {
  @media screen and (max-width: 1023px){
    @content;
  }
}
@mixin min-1023 {
  @media screen and (min-width: 1023px){
    @content;
  }
}
@mixin max-639 {
  @media screen and (max-width: 639px){
    @content;
  }
}


// 
@mixin atc {
  top: 50%;
					transform: translateY(-50%);
}