.cost {
    color: $second-color;
	background-color: #fafafa;
	min-height: 1437px;
	padding-top: 107px;
}

.wrp-cost {
    background-color: $white-color;
	border-radius: 8px;
    overflow: hidden;
	box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}

.first-part {
    padding: 0 24px;

    h5 {
        font-family: $main-font-family;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 34px;
    }

    &__block {
        padding: 36px 0;
        &:not(:last-child) {
			border-bottom: 1px solid #F0F1F5;
		}

        &--stl {
			display: flex;
			@media screen and (max-width: 825px) {
				flex-direction: column;
			}			
        }
    }

    .cost {
        &__list {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-bottom: 35px;
        }

        &__items {
			margin-bottom: 24px;
			
            &:not(:last-child) {
                margin-right: 24px;
            }
			@media screen and (max-width: 500px) {
				margin-right: auto !important;
				margin: 0 auto 24px;
			}
			@media screen and (min-width: 1224px) {
				margin-bottom: 0;
			}
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 198px;
                height: 48px;
                border: 1px solid $third-color;
                border-radius: 40px;
                color: $third-color;
                font-weight: 500;
                line-height: 1;
                padding: 10px;

                &:hover,
                &.activ {
                    background-color: $third-color;
                    color: $white;
                }
            }
        }
    }

    .column-1 {
        width: 58%;
		@media screen and (max-width: 825px) {
		 width: 100%;
		 margin-bottom: 25px;
		}
        p {
            margin-bottom: 21px;
        }

        .switch {
            height: 34px;
            margin: 0;

            input:checked~.switch-paddle {
                background: $third-color;

                & {
                    span {
                        color: $main-color;
                    }
                }
            }

            .switch-paddle {
                border-radius: 20px;
                width: 63px;
                height: 100%;

                &::after {
                    @include atc;
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    background: $white-color;
                    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.1);
                }

                span {
                    display: block;
                    position: absolute;
                    color: $second-color;
                    left: 79px;
                    font-size: 14px;
                    font-weight: 400;
                    width: 150px;
                    @include atc;
                }
            }
        }

        .count-speakers {
            &__list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 408px;
                height: 56px;
                border: 1px solid #F0F0F0;
                border-radius: 40px;
                padding: 4px;
            }

            &__items {
                &:not(:last-child) {
                    margin-right: 10px;
                }

                label {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 1;
                    font-size: 14px;
                    @include flex-center;
                    cursor: pointer;

                    &.activ,
                    &:hover {
                        background-color: $third-color;
                        color: $white-color;
                    }
                }
            }
		}		
    }
	.music-chebox {
		&__list {
			max-width: 320px;
		}
		&__items {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
			p {
				margin: 0;
				padding-left: 40px;
			}
		}
		&__wrp {
			display: flex;
			position: relative;
			input {
				visibility: hidden;
				display: none;
			}
			input:checked + label:after {
				opacity: 1;
			}
			.my-chekbox {
				position: absolute;
				left: 0;
				top: 0;
				width: 24px;
				height: 24px;
				border: 1px solid #8A1E9C;
				border-radius: 50%;
				margin: 0;
				&:after {
					content: '';
					position: absolute;
					left: 5px;
					top: 5px;
					width: 12px;
					height: 12px;
					background-color: $third-color;
					border-radius: 50%;
					opacity: 0;
				}
			}
			p {
				line-height: 24px;
				font-weight: 500;
			}
		}
	}
    .column-2 {
		width: 42%;
		@media screen and (max-width: 825px) {
			width: 100%;
		   }
		.music-chebox {
			&__wrp {
				.my-chekbox {
					border-radius: 4px;
					&:after {
						background-image: url('../images/checkbox-done.svg');
						background-color: transparent;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-size: cover;
					}
				}
			}			
		}	
		.fee-label {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				height: 100%;
				width: 56px;
				left: 128px;
				top: 0;
				background-color: $main-color;
				border-radius: 0 4px 4px 0;
				background-image: url('../images/price-item.svg');
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cintain;
			}
		}
        .fee {
            max-width: 184px;
            border: 1px solid #F0F0F0;
            box-sizing: border-box;
			border-radius: 4px;
			height: 48px;
        }
    }

    .just-text {
		margin-bottom: 21px;
    }
}
.price-scen {
	&__list {}

	&__items {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		.text {
			min-width: 220px;
			white-space: nowrap;
		}

		.price {
			font-weight: 500;
			font-size: 16px;
		}
	}
}
.second-part {
    min-height: 100%;
    background-color: $main-color;
    background-color: #00b956;
    background-image: url(../images/professional-bg.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    color: $text-color;
    text-align: center;
    padding: 80px 24px;

    .wrp-img {
        width: 120px;
        height: 120px;
        background-color: $white-color;
        border-radius: 50%;
        background-image: url('../images/cost-img.svg');
        background-repeat: no-repeat;
        background-color: contain;
        background-position: 50% 50%;
        margin: 0 auto 74px;
    }

    .descr {
        font: 500 24px/1.375 $main-font-family;
        padding-bottom: 34px;
        margin-bottom: 34px;
        border-bottom: 1px solid #75E8AA;
    }

    .descr-price {
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 40px;
    }

    .link-btn {
        @include button(184px);
    }
}
.for-audio {
	color: $second-color;
	padding: 107px 0;
	.wrp-services-price {
		padding-top: 24px;
	}
	.pos-rl {
		transition: all .5s;
		margin-bottom: 30px;
		&:hover {
			transform: translateY(-24px);
			transition: all .5s;
			padding-bottom: 24px;
			& .info-price {
				box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
				transition: all .5s;
			}
		}
	}
	.info-price {
		margin: 0 auto;
		max-width: 290px;
		border-radius: 8px;
		border: 1px solid #F0F1F5;
		overflow: hidden;
		position: relative;
		z-index: 1;
		&__1 {
			padding: 24px 10px;
			@media screen and (min-width: 1225px){
				padding: 24px;
			}
			.sbl {
				padding: 14px 0;
				border-bottom: 1px solid #F0F1F5;
				margin-bottom: 20px;
				@media screen and (max-width: 1100px){
					min-height: 139px;
				}
				@media screen and (max-width: 1023px){
					min-height: auto;
				}
			}
			.price-scen {
				&__items {
					.text {
						min-width: auto;
					}
				}
			}
			h4 {
				@include flex-center;
				min-height: 66px;
				margin: 0;

			}
		}
		&__2 {
			background-color: $main-color;
			background-image: url(../images/professional-bg.svg);
			background-repeat: no-repeat;
			background-position: -350% 40%;
			min-height: 109px;
			@include flex-center;
			.wrp-price {
				color: $white-color;
				height: auto;
				p {
					line-height: 1.5;
					&:last-child {
						font-size: 24px;
						font-weight: 500;
					}
					span {
						display: block;
						font-size: 14px;
						font-weight: 400;
					}
				}
			}
		}
	}
	.text-btn {
		font-weight: 500;
		display: block;
		text-align: center;
		opacity: 1;
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		white-space: nowrap;
		z-index: 0;
		color: $third-color;
	}
}
.else-srv {
	padding: 107px 0;
	color: $second-color;	
	.table-srv {
		margin-bottom: 40px;
		tbody {
			background-color: $white-color;
			border: none;
		}
		tr {
			border-bottom: 1px solid #F0F1F5;
			&:nth-child(even) {
				background-color: $white-color;
			}
			&:nth-child(3) {
				background-color: #F9F2FA;
			}
			&:first-child {
				@media screen and (max-width: 1023px) {
				display: none;
				}
			}
			td {
				padding: 24px 12px;
				@media screen and (max-width: 1023px) {
					padding: 1em 0;
					}
				&:first-child {
					font-weight: 500;
					font-size: 16px;
				}
				&:last-child {
					text-align: right;
					font-size: 24px;
					font-weight: 500;
					white-space: nowrap;
					@media screen and (max-width: 1023px) {
						text-align: left;
						color: $main-color;
					}
				}
			}
		}
		.table-title {
			text-align: left;
					color: $main-color;
					font-size: 14px !important;
					font-weight: 400;
					&:last-child {
						text-align: right;
					}
		}
	}
	.wrp-link {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 100%;
		@media screen and (max-width: 639px) {
			padding-top: 24px;
			justify-content: flex-start;
		}
		.text-btn {
			display: block;
			padding-left: 40px;
			position: relative;
			min-height: 25px;
			color: $third-color;
			&:before {
				 content: '';
				 position: absolute;
				 top: 50%;
				 transform: translateY(-50%);
				 left: 0;
				 background-image: url('../images/download-track.svg');
				 background-repeat: no-repeat;
				 background-size: cover;
				 height: 25px;
				 width: 25px;
			}
			span {
				color: $second-color;
			}
		}
	}
	article {
		padding-top: 70px;
	}
}