$img-path: '@/img/';




$main-color-text: #fff;
$black-color: #000000;
$bg-color-srv: #F4F7FA;
$second-color: #9B2D30;
$style-wrapp-color: #313541;
$white-color: #fff;
$white: #fff;
$red-color: #D90001;
$light-green: rgb(22, 67, 150);
$main-bg-color: #F1F8FF;



$decor-line-color: #E3E3E3;


$main-font-family: 'Rubik', sans-serif;
$main-color: #00B956;
$second-color: #211F1F;
$third-color: #8A1E9C;

$transition-duration: 0.5s;
$text-color: #ffffff;
$menu-color: #ffffff;
$text-color-second: #1b1b4f;
$text-color-subtitle: #5d5d5d;
$header-bg-color: #ffffff;

///Button style
$button-bg-color: #D90001;
$button-bg-color-h: rgb(22, 67, 150);
